body {
    width: 100%;
    height: 100%;
    background-color: #d3abd3;
}


.treeBG{
    object-fit: contain;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    position: absolute;
    top: 5%;
    left: 0%;
    object-fit: contain;
    max-width: 20%;
}

.bubbles{
    width: 20vh;
	height: 20vh;
    position: absolute;
	border-radius: 100%;
    z-index: 10;
    outline:none;
    top: 0%;
    left: 0%;
    display: none;
}



.innerContent{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


.overlayBubble{
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-5px) translateY(-100%) translateY(1px);
}

.box{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 30%;
    max-height: 70%;
    z-index: 100;
}

.note{
    font-family: 'Raleway';
}

.noteLink{
    font-size: 20px;
}

.noteBox{
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.233);
    font-size: 20px;
}